  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

<link rel="stylesheet" href="https://tailwindui.com/v2-assets/components.css" />
	<script src="https://tailwindui.com/v2-assets/components.js"></script>

    <script src="https://tailwindui.com/js/alpine.js" defer></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/node-snackbar@latest/src/js/snackbar.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/node-snackbar@latest/dist/snackbar.min.css" />
  <title>Ani TV Serials</title>
	<style>
		* {
    transition-property: background-color,color,box-shadow!important;
    transition-duration: 500ms!important;
   font-family: 'Open Sans', sans-serif;}
	</style>

 
<style>
	.snackbar-container {
		transition: all .3s ease !important;
		background: white !important;
		border: 1px solid #ccc;
		color: #333 !important;
	}

	.snackbar-container * {
		color: #333 !important;
		transition: all .3s ease !important;
	}

	.snackbar-container button.action {
		background: rgba(0, 182, 112, 0.795);
		padding: 4px;
		color: white !important;
		border-radius: 3px;
		}
</style>