<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- <% if (user) { %>
	<p>Hello <%= user.username %></p>
<% } %> -->
    <header>
      <%- include('../partials/header'); %>
    </header>

    Home page...
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
